#header-nav {
  background-color: grey;
}

.row {
  margin-bottom: 20px;
}

body {
  color: black;
  font-size: 16px;
}

.navbar-header a { /* restaurant name */
  color: black;
}

.navbar-header a:hover { /* restaurant name */
  text-decoration: none;
}

button.navbar-toggle { /* nav button */
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0;
  margin: 0;
  border-color: 1px solid grey;
  border-radius: 5px;
}

.icon-bar {
  clear: both;
  float: left;
  width: 40px;
  padding: 5px;
  background-color: grey;
  border: 2px solid white;
  border-radius: 3px;
}

#nav-list li { /* collapsable nav menu */
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

#nav-list a:hover{
  background: grey;
  text-decoration: none;
}

#nav-list a {
  color: black;
}

.menu { /* Our menu */
  margin-left: auto;
  margin-right: auto;
}

.menu-category { /* Chicken, Beef, Sushi */
  margin-left: auto;
  margin-right: auto;
}

.menu-section {
  background-color: grey;
  padding: 0 5px 0 5px;
}

/* Desktop / Medium devices */
@media (min-width: 768px) {

}

/* Tablet / Small devices */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/* Mobile / Extra small devices */
@media (max-width: 575px) {
  .menu-section {
    margin-left: 5px;
    margin-right: 5px;
  }
}