#header-nav {
  background-color: grey;
}

.row {
  margin-bottom: 20px;
}

body {
  color: black;
  font-size: 16px;
}

.navbar-header a { /* restaurant name */
  color: black;
}

.navbar-header a:hover { /* restaurant name */
  text-decoration: none;
}

.menu { /* Our menu */
  margin-left: auto;
  margin-right: auto;
}

.menu-category { /* Chicken, Beef, Sushi */
  margin-left: auto;
  margin-right: auto;
}

.menu-section {
  background-color: grey;
  padding: 0 5px 0 5px;
}

/* Desktop / Medium devices */
@media (min-width: 768px) {

}

/* Tablet / Small devices */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/* Mobile / Extra small devices */
@media (max-width: 575px) {
  
}